# Your WordPress site URLWORDPRESS_URL=https://your-wordpress-site.comNEXT_PUBLIC_WORDPRESS_URL=https://your-wordpress-site.com/graphqlJWT_SECRET=iK23Jhbs7Jf2uOwD3BfO9sR74XjI5vJh87HsNfO9Lm5A6kP7QzQwNfO4Bs7Hs4D7Pv8Jf5vI4tL6dP8aK3Hs9M2DsNfO9G7B8JtQ3R4X8I2K1N9L0G4vP7R3Hs5NfI2K9BsQ3R5vL6B9P7O4J8K1H2Ds3L6vG4NfO5B8R7P1Q2K3D4